<!-- <header *ngIf="currentUser">
    <div class="clearfix">
        <div class="logo float-left font-weight-bold h4">LOGO</div>
        <div class="user-profile">
            <div class="float-right d-flex justify-content-center align-items-center">
                <h5> Hi Tanvi!</h5>
                <a class="btn btn-primary btn-black ml-3" (click)="logout()"><span
                        class="d-none d-md-inline">Logout</span></a>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 show p-0" id="sidebar" *ngIf="currentUser">
            <nav class="navbar">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/employee">Employee</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="col-md-10"> -->
            <div>
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        <!-- </div>
    </div>
</div> -->